body {
  background-color: #283b46;
}

h1 {
  font-size: 5em;
  text-align: center;
  margin-top: 2em;
}

nav {
  text-align: center;
  margin-top: -4em;
}

.nav-links {
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

.template {
  background-color: black;
  width: 30%;
  height: 40em;
}

.template img{
  width: 100%;
  height: 100%;
}
